---
import Container from "@/components/Container.astro"
import JustLayout from "@/layouts/JustLayout.astro"
import { formatDate } from "@/utils"
import { urlFor } from "@/utils/image"
import { getPost, getPosts } from "@/utils/sanity"
import type { InferGetStaticParamsType } from "astro"
import { PortableText } from "astro-portabletext"

export async function getStaticPaths() {
	const posts = await getPosts()
	return posts.map(post => ({
		params: { slug: post.slug.current },
	}))
}

type Params = InferGetStaticParamsType<typeof getStaticPaths>
const { slug } = Astro.params as Params
const post = await getPost(slug)

export const prerender = false
---

<JustLayout
	title={post.title}
	ogImage={post.mainImage ? urlFor(post.mainImage) : null}
	description={post.description}
>
	<div
		class="absolute w-full -z-[1] top-0 h-[50%] left-0 bg-gradient-to-b from-lime-900/40 to-stone-950"
	>
	</div>
	<section class="py-[120px]">
		<Container>
			<a href="/posts" class="bg-zinc-800 rounded-lg px-3 py-1.5">Назад</a>
			<div class="py-6 flex flex-col gap-3">
				<h1
					class="before:h-full pl-5 my-6 before:w-[4px] before:rounded-lg relative before:absolute before:left-0 before:bg-lime-500 lg:text-6xl text-4xl font-black tracking-tighter"
				>
					{post.title}
				</h1>

				{
					post.author && (
						<div class="flex items-center gap-2">
							{post.author.picture && (
								<img
									src={urlFor(post.author.picture).width(120).height(120).url()}
									class="rounded-full object-cover"
									width="35"
									height="35"
									decoding="async"
									loading="eager"
									alt={post.author.name}
								/>
							)}
							<span class="font-medium">{post.author.name}</span>
						</div>
					)
				}
				<div class="justify-between flex flex-wrap items-center">
					<p class="text-zinc-400">{post.description}</p>
					<span>
						{formatDate(post.date)}
					</span>
				</div>
			</div>
			<main class="mt-12 prose-zinc prose max-w-none prose-lg lg:prose-xl prose-invert">
				<PortableText value={post.body} />
			</main>
		</Container>
	</section>
</JustLayout>
