---
import { links } from "@/data/links"
import Container from "./Container.astro"
import Logo from "./Logo.astro"
import { Icon } from "astro-icon/components"
---

<header
	class="fixed z-10 top-0 left-0 right-0 transition-all duration-300 bg-transparent py-5"
>
	<Container>
		<div class="flex justify-between items-center">
			<a href="/" aria-label="На главную"><Logo /></a>
			<nav id="nav" class="hidden md:flex space-x-4 text-white">
				{
					links &&
						links.map(link => (
							<a class="flex gap-1 items-center" href={link.href}>
								{link.mdi && <Icon name={link.mdi} />}
								{link.label}
							</a>
						))
				}
			</nav>
			<button
				id="openMenu"
				class="bg-black border border-zinc-700 text-white px-4 py-2 rounded-lg block md:hidden">меню</button
			>
			<nav
				id="menu"
				class="absolute hidden border-t p-6 top-[80px] left-0 w-full h-screen bg-zinc-900/50 backdrop-blur-md"
			>
				<div class="flex w-full mt-6 items-center font-medium text-xl flex-col gap-6">
					{
						links &&
							links.map(link => (
								<a class="flex gap-1 items-center" href={link.href}>
									{link.mdi && <Icon name={link.mdi} />}
									{link.label}
								</a>
							))
					}
				</div>
			</nav>
		</div>
	</Container>
</header>

<script>
	document.addEventListener("DOMContentLoaded", function () {
		const header = document.querySelector("header")
		const openMenu = document.querySelector("#openMenu")
		const menu = document.querySelector("#menu")

		const toggleMenu = () => {
			menu.classList.toggle("hidden")
			menu.classList.toggle("flex")
		}
		openMenu.addEventListener("click", toggleMenu)

		document.querySelector("#openMenu").addEventListener("click", toggleMenu)

		const handleScroll = () => {
			if (window.scrollY > 30) {
				header.classList.add("bg-zinc-900")
				header.classList.remove("bg-transparent")
			} else {
				header.classList.add("bg-transparent")
				header.classList.remove("bg-zinc-900")
			}
		}

		window.addEventListener("scroll", handleScroll)
	})
</script>
