---
import Analytics from "@/components/Analytics.astro"
import Nav from "@/components/Nav.astro"
import SEOHead from "@/components/SEOHead.astro"

import "@/styles/tailwind.css"

const { datePublished, bg, dateModified, title, description, type, ogImage } = Astro.props
---

<html lang="ru" class="scroll-smooth h-full">
	<head>
		<SEOHead
			title={title}
			description={description}
			type={type}
			ogImage={ogImage}
			datePublished={datePublished}
			dateModified={dateModified}
		/>
		<Analytics />
		<slot name="schema_faq" />
	</head>
	<body
		class:list={`bg-stone-950 relative scroll-m-4 w-full min-h-screen h-full  text-white font-sans`}
	>
		<Nav />
		<slot />
	</body>
</html>
